@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@theme {
  --font-family-inter: Inter, sans-serif;

  --color-primary: #eab308;
  --color-secondary: #865DFF;
  --color-accent: #E384FF;
  --color-highlight: #FFA3FD;
}

@layer components {
  
}

@layer utilities {
  
}