@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@theme {
  --font-family-inter: Inter, sans-serif;

  --color-primary: #eab308;
  --color-secondary: #865DFF;
  --color-accent: #E384FF;
  --color-highlight: #FFA3FD;
  --color-dark: #191825;
  --color-text: #ffffff;
}

@layer components {
  .container {
    @apply max-w-lg mx-auto shadow-lg mt-2 mb-2 p-5 transition-all lg:p-20;
  }
}

@layer utilities {
  
}